.review {
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  width: 90vw;
  margin: 10px 0;
}