.page {
  font-family: 'helvetica', Arial, sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: url(../../images/background2.jpg);
  background-size: cover;
  background-position: center;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;
} 