.practices__card {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: max-content;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-radius: 30px;
  align-self: stretch;
} 