.about__img {
  position: absolute;
  width: 120px;
  bottom: 50%;
  right: -10px;
  transform: translate(0, 50%);
}

@media screen and (min-width: 720px) {
  .about__img {
    width: 160px;
    right: -30px;
  }
}