.about {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/0000s.png);
  background-position: center;
  border-bottom: 1px lightgray solid;
}


@media screen and (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "heading heading";
    justify-content: center;
    justify-items: center;
  }
}


@media screen and (min-width: 900px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "heading heading heading";
    justify-content: center;
    justify-items: center;
  }
}