.work__card {
  position: relative;
  width: 80%;
  max-width: 720px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__card::after {
  position: absolute;
  content: '';
  width: 350px;
  height: 350px;
  background-image: url(../../../images/papka.png);
  background-size: contain;
  top: 0;
  right: 0;
  transform: translate(50%, -15%); 
  z-index: -1; 
}
.work__card::before {
  position: absolute;
  content: '';
  width: 400px;
  height: 400px;
  background-image: url(../../../images/kubok.png);
  background-size: contain;
  bottom: 0;
  left: 0;
  transform: rotate(-30deg) translate(-60%, -10%);
  z-index: -1;
}