.button {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  height: 50px;
  width: max-content;
  min-width: 150px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0;
  color: white;
  cursor: pointer;
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0 20px;
}

.button:hover {
  scale: 1.05;
}

@media screen and (max-width: 480px) {
  .button {
    width: 90%;
  }
}